<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/famous-dependencies/css/app.css" />
    </head>
    <body>
        <a href="/university/display">Displaying Content</a>
    </body>
</html>
